<div class="background">
 <div class='task-list-form'>
  <h1>新規リスト</h1>
  <%=form_with model: @list, local: true do |f|%>
    <div class='task-list-form__field'>
      <div class='task-list-form__field--left'>
        <%= f.label :リスト名, class: 'task-list-form__label'%>
      </div>
      <div class='task-list-form__field--right'>
        <%= f.text_field :name, class: 'task__list_name task-list-form__input', placeholder: 'リスト名を入力してください'%>
      </div>
      
    </div>
    <div class='task-list-form__field'>
    </div>
    
    <div class='task-list-form__field'>
      <div class='task-list-form__field--left'></div>
      <div class='task-list-form__field--right'>
      <div class="btn">
        <%= f.submit class: 'task-list-form__action-btn'%>
      </div>
      </div>
    </div>
  <% end %>
 </div>
</div>