.wrapper {
  display: flex;
}



.side-bar{
  background-color: #253141;
  width: 300px;
  height: calc(100vh - 90px);
  padding: 0 20px;
  overflow: scroll;
}

.list {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  display: flex;
  justify-content: space-between;
}

.list-name a {
  text-decoration: none;
  color: black;
  margin: 0; 
  padding: 0;
}

.create-list {
  display: flex;
  justify-content: center;
  
}

.create-list-btn{
  font-size: 15px;
  text-decoration: none;
  padding: 0.5em 1em;
  background: -moz-linear-gradient(#ffb03c, #ff708d);
  background: -webkit-linear-gradient(#ffb03c, #ff708d);
  background: linear-gradient(to right, #ffb03c, #ff708d);
  color: #FFF;
  margin: 20px 0 10px;
}

.main-list {
  background-color: #ffffff;
  width: calc(100% - 200px);
}

.tasks {
  background-color: #ffffff;
  height: calc(100vh - 180px);
  overflow: scroll;
  padding-right: 50px;
}

.task{
  margin: 10px 0;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.task-content{
  font-size: 18px;
  color: #434a54;
  margin: 0 0 10px 20px;
  width: 40vh;
}

.map{
  width: 500px;
  height: 100px;
  margin-right: 200px;
}


.form {
  background-color: #253141;
  height: 90px;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
}

.form-input {
  background-color: white;
  width: 70%;
}

.form-task {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #ffffff;
  border: none;
  color: black;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-submit:hover {
  background-color: rgb(2, 2, 44);
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

input[type=checkbox] {
  transform: scale(1.5);
}



 /* タブレット表示時 */
 @media (max-width: 1024px) {
  .side-bar{
    width: 250px;
  }
  .list {
    font-size: 15px;
  }
  .main-list {
    width: calc(100% - 250px);
  }
  .map{
    margin-right: 50px;
  }
 }

 /* スマホ表示時 */
@media (max-width: 599px) {
  .side-bar{
    width: 150px;
    height: calc(100vh - 60px);
    padding: 0 10px;
  }
  .list {
    font-size: 13px;
  }
  .create-list-btn{
    font-size: 13px;
    margin: 15px 0 10px;
  }
  .main-list {
    width: calc(100% - 150px);
  }
  .tasks {
    height: calc(100vh - 120px);
    padding-right: 0px;
  }
  .task-content{
    font-size: 12px;
    margin: 0 0 20px 20px;
    width: 30vh;
  }
  .form {
    height: 60px;
    padding: 15px 25px;
    
  }
  .form-input {
    width: 300px;
    font-size: 10px;
  }
  .form-task {
    height: 35px;
  }
  .form-submit {
    font-size: 12px;
    height: 35px;
    padding: 0 10px;
  }
  .map{
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
  }
  .map iframe {
    position: absolute;
    left: 0;
    top: 0;
    height: 90%;
    width: 90%;
    }

    .delete-btn {
      font-size: 13px;
      margin-right: 10px;
    }
    input[type=checkbox] {
      transform: scale(1.3);
    }
}