<div class="task-header">
<div class="left-header">
    <div class="header-title">
      list1
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">リストを削除する</a>
    </div>
  </div>
</div>

<div class="tasks">
</div>

<div class="form">
</div>