<div class="tasks">
     <%= render partial: 'task', collection: @tasks %>
</div>


<%= form_with model: [@list, @task], class: "form", local: true do |f| %>
    <div class="form-input">
      <%= f.text_field :content, class: "form-task", placeholder: '目的地を入力してください' %>
    </div>
     <%= f.submit '追加', class: "form-submit" %>
<% end %> 

