

<div class="lists" >
<% current_user.lists.each do |list| %>
  <div class="list" id="list-name"> 
    <div class="list-name" >
      <%= link_to list.name, list_tasks_path(list)  %>
    </div>
    <div class delete-btn>
      <%= link_to "削除", list_path(list), method: :delete%>
    </div>
  </div>
<% end%>
  

  <div class="create-list">
   <ul class="create-list-btn">
   <li><%= link_to "リスト作成", new_list_path, method: :get, class: "create-list"%></li>
   </ul>
   </div>
</div>