<div class="side-bar-header">
  <div class="header-name">
    <a href="#">Tom</a>
  </div>
  <div class="create-list">
    <a href="#">リストを作成する</a>
  </div>
</div>

<div class="lists">
  <div class="switch">
    <div class="list-name">
      <a href="#">list1</a>
    </div>
  </div>
  <div class="switch">
    <div class="list-name">
      <a href="#">list2</a>
    </div>
  </div>
</div>