  <div id= "list">
</div>
  
  <div class="task">
    <div class="task-content">
    <%= check_box_tag :done %>
    <!-- 投稿したメッセージ内容を記述する -->
      <%= task.content %>
    </div>
  <div class="map">
    <iframe 
        width="500"
        height="100"
        frameborder="0" style="border:0"
        src=<%=url_for("https://www.google.com/maps/embed/v1/place?key=#{ENV["GOOGLE_API_KEY"]}&q=#{task.content}&zoom=15")%>>
    </iframe>
  </div>
      <div class= delete-btn>
        <%= link_to image_tag("img_x.png"), list_task_path(@list.id, task.id), method: :delete %>
      </div>
  </div>
