  <div class="task">
    <div class="task-content">
    <%= check_box_tag :task1 %>
    <!-- 投稿したメッセージ内容を記述する -->
      <%= task.content %>
    </div>
      <div class delete-btn>
        <a href="#">削除</a>
      </div>
  </div>
