  <div class="task">
    <div class="task-content">
    <%= check_box_tag :task1 %>
    <!-- 投稿したメッセージ内容を記述する -->
      <%= task.content %>
    </div>
      <div class delete-btn>
        <%= link_to "削除", list_task_path(@list.id, task.id), method: :delete %>
      </div>
  </div>
