<header class='top-page-header'>
  <div class='nav'>
    <ul class='list_left'>
        <li> <%= image_tag("img_bluelogo.png", class:"blue-logo")%></li>
    </ul>
    
    <ul class='lists-right'>
        <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
    </ul>
  </div>
</header>

