.registration-main1 {
  width: 100%;
  min-width: 800px;
  height: calc(100% - 250px);
  display: flex;
  justify-content: center;
}

.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-red-btn {
  width: 100%;
  border: 1px solid #ffb03c;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  background: -moz-linear-gradient(#ffb03c, #ff708d);
  background: -webkit-linear-gradient(#ffb03c, #ff708d);
  background: linear-gradient(to right, #ffb03c, #ff708d);
}

.login-flash-message {
  text-align: center;
  color: red;
}